In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PolynomialFeatures
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression,  Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import pickle

In [2]:
# Load Dataset
california = fetch_california_housing()
df = pd.DataFrame(california.data, columns=california.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [3]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [4]:
df["target"] = california.target

In [5]:
# Check for missing values
print("Missing values before handling:\n", df.isnull().sum())

Missing values before handling:
 MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
target        0
dtype: int64

In [ ]:
# # Feature Engineering
# df["Rooms_per_Household"] = df["AveRooms"] / df["HouseAge"]
# df["Population_per_Household"] = df["Population"] / df["HouseAge"]
# df["Bedrooms_per_Room"] = df["AveBedrms"] / df["AveRooms"]

In [ ]:
# Drop redundant features
#df.drop(["AveRooms", "Population", "AveBedrms"], axis=1, inplace=True)

In [ ]:
#df.head()

In [11]:
# Feature Scaling
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [13]:
# Splitting Dataset
X = df_scaled.drop("target", axis=1)
y = df_scaled["target"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
# Train Models
models = {
    "Linear Regression": LinearRegression(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest": RandomForestRegressor(),
    "XGBoost": XGBRegressor()
}

In [17]:
# Evaluate Models
results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    results[name] = {
        "RMSE": np.sqrt(mean_squared_error(y_test, y_pred)),
        "MAE": mean_absolute_error(y_test, y_pred),
        "R² Score": r2_score(y_test, y_pred)
    }

In [18]:
# Convert results to DataFrame
results_df = pd.DataFrame(results).T
print(results_df)

                       RMSE       MAE  R² Score
Linear Regression  0.646125  0.462074  0.575788
Decision Tree      0.610191  0.394236  0.621661
Random Forest      0.435032  0.281826  0.807694
XGBoost            0.408859  0.268278  0.830137

In [25]:
# Define Linear Regression Model
lr = LinearRegression()

# Define Hyperparameter Grid
param_grid = {
    "fit_intercept": [True, False],  # Whether to calculate intercept
    "positive": [True, False],  # Enforce coefficients to be positive
}

# Perform Grid Search
grid_search = GridSearchCV(lr, param_grid, cv=5, scoring="r2", n_jobs=-1)
grid_search.fit(X_train, y_train)

# Get Best Model
best_lr = grid_search.best_estimator_
print("Best Parameters:", grid_search.best_params_)

# Evaluate Best Model
y_pred = best_lr.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Optimized Linear Regression Performance:\nRMSE: {rmse:.4f}, MAE: {mae:.4f}, R²: {r2:.4f}")

# Save Best Model
with open("best_linear_regression.pkl", "wb") as f:
    pickle.dump(best_lr, f)

print("Optimized Linear Regression Model Saved!")

Best Parameters: {'fit_intercept': False, 'positive': False}
Optimized Linear Regression Performance:
RMSE: 0.6461, MAE: 0.4622, R²: 0.5758
Optimized Linear Regression Model Saved!

In [43]:
pwd

'C:\\Users\\ekkai'